{%load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/Health-PNG-Image.png' %}">
    <link rel="stylesheet" href="{% static '/lato.css' %}">
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    
    <title>Servicios - Health DSC</title>
   
</head>

<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHSSZBT" height="0" width="0" style="display:none; visibility:hidden"> </iframe>
    </noscript>
    
    <header>
        <nav class="headerContainer">
            <img class="loadLazy visibleLazy" data-src="{% static '/img/Health-PNG-Image.png'%}" alt="
            " src="{% static '/img/Health-PNG-Image.png'%}">
            <a class="headerLogo">Health DSC</a>
            <ul class="headerMenu bold">
                <li class="menuLink  "> <a href="/Nosotros/"> NOSOTROS </a> </li>

                <li class="menuLink  "> <a href="/Servicios/"> SERVICIOS </a>
                    <ul class="subMenu" style="display: none;">                    
                        <li class="subMenuLink"> <a>Cardiología</a> </li>
                        <li class="subMenuLink"> <a>Dermatología</a> </li>
                        <li class="subMenuLink"> <a>Neurología</a> </li>
                        <li class="subMenuLink"> <a>Oncología</a> </li>
                    </ul>

                </li>

                <li class="menuLink  "> <a href="/Especialidades/"> ESPECIALIDADES </a> </li>
                <li class="menuLink  "> 
                    <a> CONTACTO </a>
                    <ul class="subMenu" style="display: none;">                    
                        <li class="subMenuLink"> <a>Correo oficial: clinica@gmail.com</a><br> </li>
                        <li class="subMenuLink"> <a>Central telefónica: 987654321</a> </li>
                    </ul>
                </li>
                <li class="menuLink  "> <a  href="/PreguntasFrecuentes/"> PREGUNTAS FRECUENTES </a> </li>
                
                <li class="menuLink imgRight">
					<a href="/iniciarsesion/"> <img class="loadLazy avatarLogin" 
                        data-src="{% static '/img/user.svg'%}" alt=""> <label>INICIAR SESIÓN</label> </a>
				</li>
                    
                <div class="box-general subMenu right-pos">
                        <div class="centralTelefonica">
                            <div class="titulosCentral">&nbsp;
                        </div>
                </div>
                        
            </ul>
            <div class="iconMovil openMenu">
                <div class="nav-icon"> <span></span> <span></span> <span></span> <span></span> </div> <span class="menu-title open">menú</span> <span class="menu-title close">cerrar</span> </div>
        </nav>
    </header>
    <main>
        <div class="contentSlider"> <img src="{% static '/img/BANNER.jpg'%}"> </div>
        <div class="contentBody ">
            <div class="contentBody containerClinica   containerClinica2">
                <div class="contView75">
                    <h2 align="center">SERVICIOS</h2>
                        <div class="owl-nav">
                            <button type="button" role="presentation" class="owl-prev disabled"><i class="fas fa-angle-left"></i></button>
                            <button type="button" role="presentation" class="owl-next"><i class="fas fa-angle-right"></i></button>
                        </div>
                        <div class="owl-dots">
                            <button role="button" class="owl-dot active"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                        </div>
                    </div>
                    
                    <div class="contentHistory show" id="contentHistory4">
                        <div class="contentHistoryText">
                            <p style="text-align: center;">El cáncer es una enfermedad que ha ido en aumento en los últimos años, es por ello que su rápida detección es tan importante para combatirlo y disminuir su tasa de mortalidad. Con ese objetivo, se plantea esta propuesta de página web que ayudará a mejorar los tiempos de atención y disminuirá los costos para los posibles pacientes oncológicos.
                            </p>
                            <br><br>
                                <div style="text-align: center;"> <img src="{% static '/img/SERVICIOS.jpg'%}"> </div>
                        </div>
                    </div>
                    
                </div>
                <div class="contView100 bgGray">
                    <div class="contView75">
                        <div class="gridTwoRow">
                            <div class="contGrid">
                                <div class="articleCircle">
                                    <div class="articleImg"> <img src="{% static '/img/cruz.png'%}" alt=""> </div>
                                    <h3 class="marginTB">CENTRO DE IMÁGENES</h3>
                                    <p> Brinda un diagnóstico certero que resulte en soluciones a prevenir las enfermedades de nuestros pacientes, con el apoyo de la imagen diagnóstica y los más altos estándares de calidad basados en la experiencia.
                                        </p>
                                </div>
                            </div>
                            <div class="contGrid">
                                <div class="articleCircle">
                                    <div class="articleImg"> <img src="{% static '/img/medico.png'%}" alt=""> </div>
                                    <h3 class="marginTB">CENTRO QUIRÚRGICO</h3>
                                    <p> Se cuenta con un conjunto de ambientes o unidad operativa compleja, donde convergen las acciones quirúrgicas programadas y de emergencias de varios Servicios del Hospital. Funciona las 24 horas del día.</p>
                                </div>
                            </div>
                        </div>

                        <div class="gridTwoRow">
                            <div class="contGrid">
                                <div class="articleCircle">
                                    <div class="articleImg"> <img src="{% static '/img/agendar.png'%}" alt=""> </div>
                                    <h3 class="marginTB">LABORATORIO</h3>
                                    <p> Diagnóstico de neoplasias hematooncológicas mediante el análisis de pruebas morfológicas tradicionales, el uso de citometría de flujo y técnicas moleculares de acuerdo a los estándares actuales de la Organización Mundial de la Salud.
                                        </p>
                                </div>
                            </div>
                            <div class="contGrid">
                                <div class="articleCircle">
                                    <div class="articleImg"> <img src="{% static '/img/grupo.png' %}" alt=""> </div>
                                    <h3 class="marginTB">SERVICIOS ADICIONALES</h3>
                                    <p>Entre otros servicios contamos con farmacia, óptica, ...</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            
            </div>

        </div>
            
    </main>
    
</body>

</html>