<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/x-icon" href="C:\src\Proyectos\SOFTWARE\img\Health-PNG-Image.png">
    <link rel="stylesheet" href="C:\src\Proyectos\SOFTWARE\CSS\lato.css">
    <link rel="stylesheet" href="C:\src\Proyectos\SOFTWARE\CSS\styles.css">
    
    <title>Mis Notificaciones - Health DSC</title>
   
</head>

<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHSSZBT" height="0" width="0" style="display:none; visibility:hidden"> </iframe>
    </noscript>
    
    <header>
        <nav class="headerContainer">
            <img class="loadLazy visibleLazy" data-src="C:\src\Proyectos\SOFTWARE\img\Health-PNG-Image.png" alt="" src="C:\src\Proyectos\SOFTWARE\img\Health-PNG-Image.png">
            <a class="headerLogo">Health DSC</a>
            <ul class="headerMenu bold">
                
                <li class="menuLink  "> <a href="C:\src\Proyectos\SOFTWARE\HTML\MEDICO\Nosotros.html"> NOSOTROS </a> </li>
                <li class="menuLink  "> <a href="C:\src\Proyectos\SOFTWARE\HTML\MEDICO\Servicios.html"> SERVICIOS </a>
                    <ul class="subMenu" style="display: none;">                    
                        <li class="subMenuLink"> <a>Centro de Imágenes</a> </li>
                        <li class="subMenuLink"> <a>Centro Quirúrgico</a> </li>
                        <li class="subMenuLink"> <a>Laboratorio</a> </li>
                        <li class="subMenuLink"> <a>Servicios Adicionales</a> </li>
    
                    </ul>
                </li>
                <li class="menuLink  "> <a href="C:\src\Proyectos\SOFTWARE\HTML\MEDICO\Especialidades.html"> ESPECIALIDADES </a> </li>
                
                <li class="menuLink  "> <a> CONTACTO </a>
                    <ul class="subMenu" style="display: none;">                    
                        <li class="subMenuLink"> <a>Correo oficial: clinica@gmail.com</a><br> </li>
                        <li class="subMenuLink"> <a>Central telefónica: 987654321</a> </li>
                        
    
                    </ul>
                </li>

                <li class="menuLink  "> <a href="C:\src\Proyectos\SOFTWARE\HTML\MEDICO\PreguntasFrecuentes.html"> PREGUNTAS FRECUENTES </a> </li>
                <li class="menuLink bgRed ">
                    <a> <img class="loadLazy visibleLazy" data-src="https://www.clinicapj.org.pe/images/central-telefonica.svg" alt="" src="https://www.clinicapj.org.pe/images/central-telefonica.svg"> BIENVENIDO </a>
                    
                </li>
                        
            </ul>
    
        </nav>
    </header>
    <main>
        <div class="contentSlider"> <img src="C:\src\Proyectos\SOFTWARE\img\BANNER.jpg"> </div>
        <div class="contentBody ">
            <div class="centerBody allWithMenu">
                <div class="contentMenu">
                    <div class="links">
                        <div class="linksContainer">
                            <a href="C:\src\Proyectos\SOFTWARE\HTML\PACIENTE\AgendarCita.html" class="login-menu linksBorder ">
                                <div class="linkContent marginTB">
                                    <p >Agendar cita</p> <span class="imgLinks icon-agendar-cita"></span>
                                </div>
                            </a>
                            <a href="C:\src\Proyectos\SOFTWARE\HTML\PACIENTE\MisCitas.html" class="login-menu linksBorder ">
                                <div class="linkContent marginTB">
                                    <p>Mis citas</p> <span class="imgLinks icon-mis-citas"></span> </div>
                            </a>
                            <a class="login-menu linksBorder ">
                                <div class="linkContent marginTB">
                                    <p>Médicos favoritos</p> <span class="imgLinks icon-medicos-favoritos"></span> </div>
                            </a>
                            <a class="login-menu linksBorder ">
                                <div class="linkContent marginTB">
                                    <p>Miembros</p> <span class="imgLinks icon-miembros"></span> </div>
                            </a>
                            <a href="C:\src\Proyectos\SOFTWARE\HTML\PACIENTE\MiCuenta.html"  class="login-menu linksBorder">
                                <div class="linkContent marginTB">
                                    <p>Mi cuenta</p> <span class="imgLinks icon-mi-cuenta"></span> </div>
                            </a>
                            <a href="C:\src\Proyectos\SOFTWARE\HTML\PACIENTE\notificaciones.html" class="login-menu linksBorder linkActive">
                                <div class="linkContent marginTB">
                                    <p>Notificaciones</p> <span class="imgLinks icon-notificaciones"></span> </div>
                            </a>
                            <a href="C:\src\Proyectos\SOFTWARE\HTML\PACIENTE\IniciarSesion.html" class="login-menu linksBorder ">
                                <div class="linkContent marginTB">
                                    <p>Cerrar Sesión</p> <span class="imgLinks icon-cerrar-sesion"></span> </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="contentWithMenu">
                    <div class="containerAll">
                        <h2 align ="center">Notificaciones</h2>
                        <br>
                        <br>
                        <div class="message">
                            <div class="msgContainer">
                                <div class="msgContent">
                                    <div class="msgImg"><img src="C:\src\Proyectos\SOFTWARE\img\notificacion.png" alt=""></div>
                                    <div class="marginTB txtRed">
                                        <h4>Por el momento no hay notificaciones realizadas</h4></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="https://www.clinicapj.org.pe/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="https://www.clinicapj.org.pe/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="https://www.clinicapj.org.pe/js/sweetalert2.all.min.js" type="text/javascript"></script>
    <script src="https://www.clinicapj.org.pe/js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
    <script src="https://www.clinicapj.org.pe/js/custom.js" type="text/javascript"></script>
    <script src="https://www.clinicapj.org.pe/js/clinica.js" type="text/javascript"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-122325028-2" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-122325028-2');
    </script>
    <script src="https://www.clinicapj.org.pe/js/manager.js" type="text/javascript"></script>
    
</body>

</html>